.soccer {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    height: 120vh;
    width: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .soccer-heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
  }
  .ques-count{
    margin-top: -10px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .logo{
    width:200px;
    margin:auto;
    height:100px;
}
  .quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 50px;
background: #ffffff;
box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
     
  
    border-radius: 15px;
    width: 500px;
  }
  @media screen and (max-width:520px){
      .quiz{
         width:350px;
         box-shadow: none;
         border-radius: 0px;
      }
      
  }
  @media screen and (max-width:400px){
    .quiz{
      width:280px;
    }
  }
  .question-text {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  @media screen and (max-width:520px){
      .question-text{
        font-size:20px;
      }
  }
  .answer-section {
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:520px){
    .answer-section{
        grid-template-columns:1fr;
        gap:8px;
      }
  }
  .sign-up{
    width:150px;
  }
  button {
    width: 60%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    justify-self: center;
   background-color: 
   lightgray;
    color: #333;
    cursor: pointer;
  }
  button:hover {
    background: #ee4e14;
    color:#fff;
  }
  @media screen and (max-width:520px){
    button{
      width:40%;
    }
  }
  @media screen and (max-width:400px){
    button{
      width:30%;
    }
  }
  .result-heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
